.order {
	max-width: 376px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 12px;
	background-color: #f5f5f5;
	-webkit-box-shadow: 0px 5px 7.7px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 5px 7.7px 1px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	padding: 30px 18px;
}

.order-price {
	margin-left: 10px;
}

.politics-links {
	text-decoration: underline;
}
